*{
  margin: 0; 
  padding: 0;
  font-family: 'Helvetica', Times, serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #6D30AA;

}
p{
  color: white;
}

.background{
  background-image: url(images/home2.png); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px;
}

.container {
  width: 100%;
  max-width: none; 
}

#about{
  width: 100%;
  height: 100vh;
  background-image: url(images/about2.png); 
  background-size: cover;
  background-position: center;
  padding-left: 0px;
}
#projects{
  width: 100%;
  height: 100vh;
  background-image: url(images/home.png); 
  background-size: cover;
  background-position: center;
  padding-left: 0px;
}

.container{
  padding: 0px 6%;
  margin: auto;
  width: 85%;
  padding: 10px;


  
}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  font-size: 25px;
  top: 0;
  right: 0;
  margin-right: 10px;
  position: fixed;
  z-index: 1000;
}



nav ul li{
  display: inline-block;
  margin: 10px 20px;
}

a{
  color:white;
  text-decoration: none;
  position: relative;
}

a::after{
  content:'';
  width: 0;
  height: 3px;
  background: #2f0a53;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
a:hover::after{
  width: 100%;
}




/* ------------home------------ */
#home{
  padding: 80px 0;
  color:white;
}

.row{
  display:flex;
  flex-wrap: wrap;
  margin-top:35px;
}

.home-col-1{
  flex-basis: 20%;
  margin-left: 3%;

}

.home-col-1 img{
  border-radius: 50%;
  height: 500px;
}
.home-col-2{
  flex-basis: 60%;
  margin-left: 20px;
  margin-top: 100px;
}

.sub-title{
  font-size: 50px;
  color: white;
}

.sub-title2{
  font-size: 25px;
  font-weight: 200;
}

.aboutmeinfo{
  font-size: 18px;
  margin-top: 25px;
}

.quick-info{
 margin: 30px 0 40px; 
}


.tabs{
  margin-right:50px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
  color: white;
}
.tab-section{
  color: white;
  font-weight:500;
}
.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 40px;
  margin-right: 10px;
  color: white;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: white;
  transform: translateY(-5px);
}
/*-------------about----------*/
#about{
  padding-top: 40px;
}

.career-text, .favbooks{
  color: white;
  font-size: 30px;
}
.favbooks{
  margin-bottom: 10px;
}
.career-text{
  margin-bottom: 70px;
}

.about-p{
  font-size: 18px;
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
}
.about-col-1{
  flex-basis: 20%;
  margin-left: 3%;

}

.about-col-1 img{
  border-radius: 10%;
  height: 500px;
  margin-top: 30px;

}
.about-col-2{
  flex-basis: 60%;
  margin-left: 20px;
  margin-top: 20px;
}
.about-row{
  display:flex;
  flex-wrap: wrap;
  margin-top:65px;
}

/* ------------------- books ---------------------- */
.my-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  
}

#my-books div {
  text-align: center;
  margin: 8px 0px 0px 4px;
  display: inline-block;
  width: 80px;
  vertical-align: top; 

}
#my-books img{
  width: 70px;
  height: 110px;
}

#my-books h2{
  font-size: 10px;
}
#my-books p{
  font-size: 9px;
}

.bookshelves-link a{
  color:#241B62;
  font-size: 12px;
  margin-top: 2px;

}
.favbooks-header{
  font-size: 18px;
}

/* -------- projs ---------*/
.project-container{
  text-align: center;
  margin: 0% 10% 0% 10%;

  }
  #myProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px; /* Adjust this value for spacing between cards */
    color: white;
  }

  .sub-title-proj{
    font-size: 40px;
    color: white;
    margin-top: 3%;
  }
  
  .flip-card {
    background-color: #6D30AA;
    width: 430px;
    height: 300px;
    margin: 8px;
    border-radius: 20px;
    display: inline-block;
    border: solid thin;
    border-color: white;
    transition: height 0.5s;
  }
  .flip-card:hover {
    height: 320px;  
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flip-card img {
    width: 428px;
    height:250px;
    border-radius: 18px;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2437;
    border-radius: 20px;;
  }
  
  
  .flip-card p {
    margin: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 6%;
  }
  .flip-card h2 {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    
  }
  



/* --------contact---------- */
.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 20px;
  font-size: 25px;
}

.contact-left p i {
  color: #2f0a53;
  margin-right: 15px;
  font-size: 25px;
}

.btn{
  background-color:  #2f0a53;
  color: white;
  padding: 14px;
  margin-top: 10px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: white;
  padding: 15px;
  margin: 8px 0;
  color:#241B62;
  font-size: 18px;
  border-radius: 6px;;

}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: bold;
  font-size: 18px;
  background-color:#2f0a53;
}

.copyright i{
  color:red;
}

#msg{
  color: white;
  background-color: green;
  margin-top: 10px;
  display: block;
  font-weight: bolder;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  padding: 3px;
}

/* ------------------ css for small screen ----------------- */
/* come back to this when you have more time */
nav .fa-solid{
  display: none;
}


@media only screen and (max-width: 1155px){
  nav{
    align-items: center;
    justify-content:center; 
    font-size: 26px;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    margin: 0;
  }

  nav ul li{
    display: inline-block;
    margin: 10px;
  }

  .home-col-1 img{
    height: 300px;
    max-width: 100%;
    margin-left: 0px;
  }

  .home-col-1 {
    display: flex;
    justify-content: center;
    display: block;
    width: 100%;
    margin-left: 0px;
    
    }
  .row{
      display: block;
      margin-top: 0;
      text-align: center;
    }
  
    .home-col-2{
      margin: 5px;

    }

    .sub-title{
      font-size: 24px;
    }

    .sub-title2{
      font-size: 20px;
    }

    .aboutmeinfo{
      font-size: 16px;
      margin-top: 8px;
    }

    .quick-info{
      margin-top: 15px
    }

    .tabs{
      font-size: 16px;
      text-align: center;
      margin: 0;
    }

    .social-icons{
      margin-top: 10px;
    }
    .social-icons a{
      font-size: 30px;
    }
  
    .container{
      padding-top: 0;
      text-align: center;
      width: 700px;
      margin-top: 2%;
    }
    /* ------------about------------ */
    .about-col-1 img{
      border-radius: 10%;
      height: 360px;
      margin-top: 30px;
    
    }
    .about-col-1{
      flex-basis: 20%;
      margin-left: 10px;
    }
    .about-row{
      width: 800px;
    }
    .about-p{
      font-size: 14px;
      text-align: justify;
    }

    #about{
      padding-top: 30px;
    }

    .career-text h4{
      font-size: 18px;
    }
    .career-text{
      margin-bottom: 8px;
    }

    .favbooks h4{
      font-size: 18px;
    }

    #my-books img{
      width: 40px;
      height: 65px;
    }

    #my-books div {
      text-align: center;
      margin: 4px 0px 0px 2px;
      display: inline-block;
      width: 100px;
      vertical-align: top; 
    }
    #my-books h2{
      font-size: 8px;
    }
    #my-books p{
      font-size: 8px;
    }
    
    #my-books div {
      text-align: center;
      margin: 8px 0px 0px 2px;
      display: inline-block;
      width: 50px;
      vertical-align: top; 
    
    }


    #projects{
      padding-top: 35px;
      margin-bottom: 900px;
    }

  } 

  @media only screen and (max-width: 920px){
    nav{
      align-items: center;
      justify-content:center; 
      font-size: 26px;
      top: 0;
      left: 0;
      position: fixed;
      text-align: center;
      margin: 0;
    }
  
    nav ul li{
      display: inline-block;
      margin: 10px;
    }
  
    .home-col-1 img{
      height: 300px;
      max-width: 100%;
      margin-left: 0px;
    }
  
    .home-col-1 {
      display: flex;
      justify-content: center;
      display: block;
      width: 100%;
      margin-left: 0px;
      
      }
    .row{
        display: block;
        margin-top: 0;
        text-align: center;
      }
    
      .home-col-2{
        margin: 5px;
  
      }
  
      .sub-title{
        font-size: 24px;
      }
  
      .sub-title2{
        font-size: 20px;
      }
  
      .aboutmeinfo{
        font-size: 16px;
        margin-top: 8px;
      }
  
      .quick-info{
        margin-top: 15px
      }
  
      .tabs{
        font-size: 16px;
        text-align: center;
        margin: 0;
      }
  
      .social-icons{
        margin-top: 10px;
      }
      .social-icons a{
        font-size: 30px;
      }
    
      .container{
        padding-top: 0;
        text-align: center;
        width: 700px;
        margin-top: 2%;
      }
      /* ------------about------------ */
      .about-col-1 img{
        border-radius: 10%;
        height: 300px;
        margin-top: 30px;
      
      }
      .about-col-1{
        flex-basis: 20%;
        margin-left: 10px;
      }
      .about-row{
        width: 700px;
      }
      .about-p{
        font-size: 14px;
        text-align: justify;
      }
  
      #about{
        padding-top: 30px;
      }
  
      .career-text h4{
        font-size: 18px;
      }
      .career-text{
        margin-bottom: 8px;
      }
  
      .favbooks h4{
        font-size: 18px;
      }
  
      #my-books img{
        width: 40px;
        height: 65px;
      }
  
      #my-books div {
        text-align: center;
        margin: 4px 0px 0px 2px;
        display: inline-block;
        width: 100px;
        vertical-align: top; 
      }
      #my-books h2{
        font-size: 8px;
      }
      #my-books p{
        font-size: 8px;
      }
      
      #my-books div {
        text-align: center;
        margin: 8px 0px 0px 2px;
        display: inline-block;
        width: 50px;
        vertical-align: top; 
      
      }
  
  
      #projects{
        padding-top: 35px;
        margin-bottom: 900px;
      }
  
    } 
  
    @media only screen and (max-width: 725px){
      nav{
        align-items: center;
        justify-content:center; 
        font-size: 20px;
        top: 0;
        left: 0;
        position: fixed;
        text-align: center;
        margin: 0;
      }
    
      nav ul li{
        display: inline-block;
        margin: 10px;
      }
    
      .home-col-1 img{
        height: 300px;
        max-width: 100%;
        margin-left: 0px;
      }
    
      .home-col-1 {
        display: flex;
        justify-content: center;
        display: block;
        width: 100%;
        margin-left: 0px;
        
        }
      .row{
          display: block;
          margin-top: 0;
          text-align: center;
        }
      
        .home-col-2{
          margin: 5px;
    
        }
    
        .sub-title{
          font-size: 24px;
        }
    
        .sub-title2{
          font-size: 20px;
        }
    
        .aboutmeinfo{
          font-size: 16px;
          margin-top: 8px;
        }
    
        .quick-info{
          margin-top: 15px
        }
    
        .tabs{
          font-size: 16px;
          text-align: center;
          margin: 0;
        }
    
        .social-icons{
          margin-top: 10px;
        }
        .social-icons a{
          font-size: 30px;
        }
      
        .container{
          padding-top: 0;
          text-align: center;
          width: 480px;
          margin-top: 2%;
        }
        /* ------------about------------ */
        .about-col-1 img{
          border-radius: 10%;
          height: 180px;
          margin-top: 0;
          margin-left: 0;
        }
        .about-row{
          display: block;
          margin-top: 0;
          text-align: center;
        }
        .about-col-1{
          flex-basis: 20%;
        }
        .about-col-2{
          margin-left: 0;
        }

        .about-col-2 p{
          font-size: 14px;;
        }
        .about-row{
          width: 460px;
        }
        .favbooks-header{
          font-size: 16px;
        }
        .about-p{
          font-size: 10px;
          text-align: justify;
        }
    
        #about{
          padding-top: 30px;
        }
    
        .career-text h4{
          font-size: 18px;
        }
        .career-text{
          margin-bottom: 8px;
        }
    
        .favbooks h4{
          margin-bottom: 0;
        }
    
        #my-books img{
          width: 40px;
          height: 65px;
        }
    
        #my-books div {
          text-align: center;
          margin: 4px 0px 0px 2px;
          display: inline-block;
          width: 100px;
          vertical-align: top; 
        }
        #my-books h2{
          font-size: 6px;
        }
        #my-books p{
          font-size: 6px;
        }
        
        #my-books div {
          text-align: center;
          margin: 8px 0px 0px 2px;
          display: inline-block;
          width: 50px;
          vertical-align: top; 
        
        }
    
    
        #projects{
          padding-top: 35px;
          margin-bottom: 900px;
        }
    
        .sub-title-proj{
          font-size: 30px;
        }
      } 
    


/* @media only screen and (max-width: 700px){
  nav{
    align-items: center;
    justify-content:center; 
    font-size: 20px;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    margin: 0;
  }

  nav ul li{
    display: inline-block;
    margin: 10px;
  }

  .home-col-1 img{
    height: 250px;
    max-width: 100%;
  }

  .home-col-1 {
    display: flex;
    justify-content: center;
    display: block;
    width: 100%;
    }
  .row{
      display: block;
      margin-top: 0;
      text-align: center;
    }
  
    .home-col-2{
      margin: 5px;

    }

    .sub-title{
      font-size: 24px;
    }

    .sub-title2{
      font-size: 20px;
    }

    .aboutmeinfo{
      font-size: 16px;
      margin-top: 8px;
    }

    .quick-info{
      margin-top: 15px
    }

    .tabs{
      font-size: 16px;
      text-align: center;
      margin: 0;
    }

    .social-icons{
      margin-top: 10px;
    }
    .social-icons a{
      font-size: 30px;
    }
  
    .container{
      padding-top: 0;
      text-align: center;
    }
    /* ------------about------------ */
    /*.about-p{
      font-size: 14px;
      text-align: justify;
    }

    #about{
      padding-top: 30px;
    }

    .career-text h4{
      font-size: 18px;
    }
    .career-text{
      margin-bottom: 8px;
    }

    .favbooks h4{
      font-size: 18px;
    }

    #my-books img{
      width: 40px;
      height: 65px;
    }

    #my-books div {
      text-align: center;
      margin: 4px 0px 0px 2px;
      display: inline-block;
      width: 100px;
      vertical-align: top; 
    }
    #my-books h2{
      font-size: 8px;
    }
    #my-books p{
      font-size: 8px;
    }
    
    #my-books div {
      text-align: center;
      margin: 8px 0px 0px 2px;
      display: inline-block;
      width: 50px;
      vertical-align: top; 
    
    }


    #projects{
      padding-top: 35px;
      margin-bottom: 900px;
    }

  } 
 */